<div class="row">
  <div class="col-8 col-md-8 mx-auto">
    <h3 class="text-center">Configuraciones</h3>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="boardSize" class="col-form-label font-weight-bold">Tamaño de Tablero</label>
        <input id="boardSize" type="number"
               min="10" step="1" max="20"
               class="form-control" placeholder="Tamaño de Tablero" formControlName="boardSize">
        <app-info-message message="Cuadrículas permitidas: entre 10 y 20"></app-info-message>
      </div>
      <div formGroupName="levels">
        <label class="font-weight-bold">Niveles</label>
        <app-level-group groupName="levels.easy"></app-level-group>
        <app-level-group groupName="levels.normal"></app-level-group>
        <app-level-group groupName="levels.difficult"></app-level-group>
        <div class="form-group text-center">
          <button type="button" class="btn btn-danger font-weight-normal mx-2" routerLink="../">Volver</button>
          <button type="button" (click)="onSubmit()" class="btn btn-primary font-weight-normal mx-2"
                  [disabled]="!form.valid">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
