<div class="form-row" [formGroup]="form">
  <div class="form-group col-md-6">
    <label for="{{groupName}}-label" class="col-form-label font-weight-bold">Nivel</label>
    <input id="{{groupName}}-label" type="text"
           class="form-control" placeholder="Turnos" formControlName="label">
  </div>
  <div class="form-group col-md-6">
    <label for="{{groupName}}-turns" class="col-form-label font-weight-bold">Turnos</label>
    <input id="{{groupName}}-turns" type="number"
           min="0" step="1"
           class="form-control" placeholder="Turnos" formControlName="turns">
    <app-info-message message="El número 0 indica turnos infinitos"></app-info-message>
  </div>
</div>
