<div class="row">
  <div class="col-3 mx-auto">
    <div class="d-flex flex-column">
      <button
        class="btn btn-primary align-middle my-2"
        routerLink="../new-game"
      >
        Nuevo Juego
      </button>
      <button
        class="btn btn-primary align-middle my-2"
        routerLink="../settings"
      >
        Configuraciones
      </button>
      <button
        class="btn btn-primary align-middle my-2"
        routerLink="../records"
      >
        Puntuaciones
      </button>
    </div>
  </div>
</div>
