<div class="container-fluid">
  <div class="row my-3">
    <div class="col-12">
      <h3 class="text-center align-middle">
        BattleShip
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
