<div class="row" *ngIf="!isGameStarted">
  <div class="col-8 col-md-4 col-lg-3 mx-auto">
    <div class="d-flex flex-column">
      <button class="btn btn-primary my-2" (click)="fillData({ label: 'Libre' }, true)">
        Libre
      </button>
      <button class="btn btn-primary my-2" (click)="fillData(levelsConfig.easy)">
        {{ levelsConfig.easy.label }}
      </button>
      <button class="btn btn-primary my-2" (click)="fillData(levelsConfig.normal)">
        {{ levelsConfig.normal.label }}
      </button>
      <button class="btn btn-primary my-2" (click)="fillData(levelsConfig.difficult)">
        {{ levelsConfig.difficult.label }}
      </button>
      <button class="btn btn-danger my-2" routerLink="../">
        Volver
      </button>
    </div>
    <form class="my-5" (ngSubmit)="startGame()" #dataForm="ngForm" *ngIf="isAvailableToFill">
      <h5 class="text-center my-3">Nivel Escogido: {{ selectedLevel.label }}</h5>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="playerName"
          placeholder="Nombre de jugador"
          required
          [(ngModel)]="playerName"
        >
      </div>
      <div class="form-group" *ngIf="isFree">
        <input
          type="number"
          class="form-control"
          name="freeTurns"
          placeholder="Turnos a jugar"
          required
          min="20"
          step="1"
          max="200"
          [(ngModel)]="freeTurns"
        >
        <app-info-message message="Turnos entre 20 y 200"></app-info-message>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!dataForm.form.valid">Jugar</button>
      </div>
    </form>
  </div>
</div>

<app-board
  *ngIf="isGameStarted"
  [playerName]="playerName"
  [levelConfig]="selectedLevel"
>
</app-board>
