<div class="row">
  <div class="col-8 col-md-8 mx-auto">
    <h3 class="text-center">Puntuaciones</h3>
    <div class="table-responsive my-3">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Jugador</th>
            <th class="text-center">Nivel</th>
            <th class="text-center">Turnos</th>
            <th class="text-center">Barcos Destruidos</th>
            <th class="text-center">Ganó / Perdió</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elem of records">
            <td class="text-center"> {{ elem.name }} </td>
            <td class="text-center"> {{ elem.level }} </td>
            <td class="text-center"> {{ elem.turns }} </td>
            <td class="text-center"> {{ elem.shipsDestroyed }} </td>
            <td class="text-center"> {{ elem.won ? 'Ganó' : 'Perdió' }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center my-3">
      <button class="btn btn-danger" routerLink="../">
        Volver
      </button>
    </div>
  </div>
</div>
