<div class="row">
  <div class="col-7 mx-auto">
    <h3 class="text-center my-3">Nivel: <span class="level">{{ levelConfig.label }}</span></h3>
    <div class="text-center my-3" *ngIf="isLost">
      <button class="btn btn-primary" (click)="restartGame()">Inténtalo de Nuevo</button>
    </div>
    <div class="d-flex justify-content-between">
      <h3>Jugador: <span class="player-name">{{ playerName }}</span></h3>
      <h3 *ngIf="levelConfig.turns > 0" [ngClass]="{ 'text-danger': turnsGame < 10 }">Turnos: <span class="turns">{{ turnsGame }}</span></h3>
      <h3 *ngIf="levelConfig.turns === 0" >Turnos: Infinitos</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td class="border-white"></td>
          <td class="text-center col-label-cell border-white font-weight-bold" *ngFor="let colLabel of board.colLabels">
            {{ colLabel }}
          </td>
        </tr>
        <tr *ngFor="let row of board.sea; let i = index;">
          <td class="text-center row-label-cell border-white font-weight-bold">
            {{ board.rowLabels[i] }}
          </td>
          <td
            class="text-center board-cell board-cell-{{i}}-{{j}}"
            [ngClass]="{
              'table-info': !col.isUsed,
              'table-success': col.isUsed && col.value === -1,
              'table-danger': col.isUsed && col.value === 0
            }"
            *ngFor="let col of row; let j = index;" (click)="fireTorpedo(col)"
          >
            {{ col.status }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <button class="btn btn-danger" (click)="returnMenu()">
        Volver
      </button>
    </div>
  </div>
</div>
